<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my website</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <img src="C:\Users\wahab\OneDrive\Desktop\images\istockphoto-860100536-612x612.jpg" alt="" >


    <h1>ISLAMIC BANKING</h1>
    <h2>Welcome to Personal Banking</h2>
    <a href="{% url 'account' %}">Account</a>
    <a href="{% url 'branch' %}">branch</a>
    <a href="{% url 'transaction' %}">transaction</a>
    <a href="{% url 'acc_type' %}">Account types</a>
    
</body>    
</html>